* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  background-color: rgb(26, 26, 32);
  color: #fff;
  height: 150px;
  padding: 20px 0;
  display:flex;
  justify-content: center;
}

.logo {
  font-weight: bold;
  font-size: 40px;
  margin:10px;
  background-color: rgba(26,26,32);
  width: 1400px;
  display: flex;
  justify-content: space-between;
  }

.nav-links ul {
  width: 450px;
  height:40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap:20px;
  margin: 0;
  padding:0;
}

.nav-links a {
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  color: purple;
  font-weight: bold;
}

.nav-links a:hover {
color: blue;
}

.hero {
  
}