:root {
  --bg-color: #0f172a;
  --text-color: #f8fafc;
  --asscent-color: #818cf8;
  --item-bg: rgba(99, 102, 241, 0.1);
  --item-border: rgba(99, 102, 241, 0.4);
  --container-border: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  width: 300px;
  height: 200px;
  background: aquamarine;
  color: red;
  font-weight: 800;
}
button {
  padding: 40px 200px;
  /*  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px; */
  border: 10px solid red;
  border: 10px solid red;
  border: 10px solid red;
  border: 10px solid red;
  border-radius: 50px 25px;
  margin: 30px;
}
