* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00c700;
  --secondary-color: rgba(0, 221, 0, 0.986);
  --text-color-white: #ddd8d8;
  --text-color-dark: #1e1e1e;
  --fs-md: 1.15rem;
  --fs-xs: 0.75rem;
  --fs-lg: 1.25rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-xl: 1.5rem;
  --fs-3xl: 2.5rem;
}

body {
  font-family: "Roboto", "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  background-color: black;
  display: flex;
  /*  align-items: center; */
  justify-content: space-between;
  padding: 14px 20px;
}

.nav-links ul {
  color: var(--text-color-white);
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.logo {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.6rem;
}

.nav-links ul a {
  text-decoration: none;
  color: var(--text-color-white);
  font-weight: 500;
}

.header-container {
  background-image: url("");
  text-align: center;
  gap: 20px;
}
button {
  padding: 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  background: var(--secondary-color);
}
