.container {
    display: grid;
    grid-template-columns: 200px 1fr; 
    grid-template-rows: auto 1fr auto;
    gap: 16px;
    text-align: center;
    min-height: 100vh;
    padding: 16px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

.header {
    background-color: #006157;
    grid-column: 1 / 3;
}

.sidebar {
    background: #005B94;
    grid-row:  2 / 4;
}

.nav {
    background: #642cde;
}

.article {
    background: #7E1DC3;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.footer {
    background: #393f4d;
    grid-column: 1 / 3;
}