* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}
.left-side {
    flex: 1;
    background-image: url('bg-image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo {
    text-align: center;
}

.logo img {
    width: 80px;
}

.photo-credit {
    bottom: 10px;
    left: 10px;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.right-side {
    flex: 1.5;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.4;
}

h4 {
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    gap: 1em;
    margin-bottom: 1rem;
}

label {
    font-size: 0.8rem;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
    outline: none;
}

.btn {
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    background: #596D48;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn:hover {
    background-color: #015218;
}

.login {
    margin-top: 1rem;
}

.login a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

