* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4a96e0;
  --secondary-color: #4ec4ce;
  --text-color-white: #cccccc;
  --text-color-dark: #1e1e1e;
}

body {
  font-family: "Roboto", "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--primary-color);
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links ul a {
  text-decoration: none;
  color: var(--text-color-dark);
}

.home--section {
  background: red;
  display: flex;
  /*  text-align: center; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}
