* {
    box-sizing: border-box;
}
.head {
    height: 12rem;
    padding: 20px;
    margin: 0;
    background-color: lightskyblue;
}

h1, p {
   display: flex;
   justify-content: center;
   align-items: center; 
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1 {
    width: 15rem;
    height: 19em;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.h2 {
    color: aquamarine;
    display: flex;
    justify-content: center;
}

.skills {
    text-align: center;
    margin-top: 40px;
}
.skill-img {
    height: auto;
    width: 6rem;
    border-radius: 10px;
}

h4 {
    color: aquamarine;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.skill-text {
    max-width: 300px;
    text-align: left;
}

.btn {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.footer {
    height: 100px;
    background: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}