/* Element selector */
p {
    color: red;
}
input:focus {
    outline: none;
}

/*
#unique {
    background-color: blue;
}

#unique-header {
    font-size: 60px;
}
h2 {
    font-size: 20px;
}
.highlight {
    background-color: yellow;
    border: 1px solid black;
    padding: 20px;
}*/
.link {
 text-decoration: none;
 color: brown; 
}
/*
a[href] {
    text-decoration: none;
    cursor: progress;
}

input[type="email"] {
    border: 2px solid blue;
}

.pseudo-link:hover {
    background: green;
    color: #fff;
}

.pseudo-link:visited {
    color:green;
}

.pseudo-link:active {
    background: green;
    color: red;
    text-decoration: overline;
}

.focus-input:focus{
    border: 2px solid red;
    background: green;
    
}

button:hover {
    cursor: pointer;
    background: green;
}
#anchor:visited { 
    text-decoration: underline;
    background: blue;
}
/*
li:nth-child(odd) {
    background: blue;
}
li:nth-child(even) {
    background: yellow;
} 
li:nth-child(3),
li:nth-child(6),
li:nth-child(8) {
    background: yellow;
    color: blue;
} */

ol li {
    color:red;
}

.third p {
    color: blue;
}

.third h2 {
    font-size: 50px;
}