/* Element selector */
p {
    color: red;
}

#unique {
    background-color: blue;
}

#unique-header {
    font-size: 60px;
}
h2 {
    font-size: 10px;
}
.highlight {
    background-color: yellow;
    border: 1px solid black;
}